.container {
  /* background-color: slateblue; */
  background-color: #fff;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.cal-container{
  width: 100%;
  display: flex;
  align-items: center;
  
  flex-direction: column;
}
.container .title {
  padding: 20px;
}
.container .title .txt {
  font-size: 2.3rem;
  color: #222;
}
.display{
  width: 17.5%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  /* border: 1px solid #223; */
  background-color: #444;
  color: #fff;
}
.display .inp{
  font-size: 1.2rem;
  font-weight: 700;
}
.display .out{
  font-size: 2.4rem;
  font-weight: bold;
}
.btn-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(5,1fr);
  gap: 2px;
}
.btn-container .btn{
  background-color: slateblue;
  color: #fff;
  font-size: 1.3rem;
  padding: 1.3rem;
  cursor: pointer;
  /* border-radius: 3px; */
  text-align: center;
  font-weight: bold;
}
.equal{
  background-color: green !important;
}
.op{
  background-color: orangered !important;
}
.red{
  background-color: #ff2200 !important;
}
.del{
  background-color: #223 !important;
}
